/* App.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
 h1,h2, h3, h4 {
  margin: 0;
  padding: 0;
}


.section {
  margin: 30px 80px 10px 80px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 

}

.section h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #161515;
  color: #f1f1f1;
  padding: 10px;

}

.section p {
  margin-bottom: 5px;
  font-size: 14px;
}

.section ul {
  list-style-type: none;
  padding-left: 0;
}

.section li {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #3217fc;
}

/* Header Styles */
header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e81616;
}

/* Main Container Styles */
.portfolio-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set a minimum height to fill the viewport */
}

/* Profile Image Styles */
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

/* Fade-in Animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer Styles */
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 20px;
    justify-content: flex-start;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }
}